<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="base.css">
  <link rel="stylesheet" href="note.css">
  <script src="Vue.js"></script>
  <script src="jquery.min.js"></script>
</head>
<body>
  <div id="app">
    <section>
      <ul class="ilist">
        <li v-for="item in notes">
          <h1>{{item.title}}</h1>
          <p v-text="item.name"></p>
          <p v-text="item.email"></p>
          <p v-text="item.content"></p>
        </li>
        <li class="addNew"><span v-on:click="isActive=true">新增</span></li>
      </ul>
    </section>
    <div>
      <form action="" method="post" class="elegant-aero"  v-bind:class="{ mdshow: isActive }">
      <h1>Contact Form
        <span>Please fill all the texts in the fields.</span>
      </h1>
      <label>
        <span>Your Name :</span>
        <input id="name" type="text" name="name" placeholder="Your Full Name" v-model="newNote.title"/>
      </label>
      <label>
        <span>Your Email :</span>
        <input id="email" type="email" name="email" placeholder="Valid Email Address" v-model="newNote.email"/>
      </label>
      <label>
        <span>Message :</span>
        <textarea id="message" name="message" placeholder="Your Message to Us" v-model="newNote.content"></textarea>
      </label>
      <label>
        <span>Subject :</span>
        <input id="" type="text" name="" placeholder="Your Full Name" v-model="newNote.name"/>
      </label>
      <label>
        <span>&nbsp;</span>
        <input type="button" class="button" value="Send" v-on:click="noteAdd"/>
      </label>
      </form>
    </div>
    <div class="gray" v-bind:class="{ mdshow: isActive }" v-on:click="isActive=false"></div>
  </div>
  <script src="src/note.js"></script>


</body>
</html>