<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="base.css">
  <link rel="stylesheet" href="note.css">
  <script src="Vue.js"></script>
  <script src="jquery.min.js"></script>
</head>
<body>
  <ul id="app">
    <li v-for="n in pageCount" v-bind:class="activeNumber === n ? 'active' : ''">
      <a href="javascripit:;">{{ n }}</a>
    </li>
  </ul>
  
  <script>
    var app = new Vue({
      el: '#app',
      data: {
        activeNumber:8,
        pageCount:10
      }
    })
  </script>
  <hr>
  <div id="app-2">
    <h5>创建信息</h5>
    <div><label for="name">name</label><input type="text" v-model="newPerson.name" id="name"></div>
    <div><label for="age">age</label><input type="text" v-model="newPerson.age" id="age"></div>
    <div>
      <label for="sex">sex</label>
      <select v-model="newPerson.sex">
        <option value="Male">Male</option>
        <option value="Female">Female</option>
      </select>
    </div>
    <div class="form-group">
      <label></label>
      <button v-on:click="creatPerson">Create</button>
    </div>
    <table>
      <tr><td>name</td><td>age</td><td>sex</td><td>操作</td></tr>
      <tr v-for="(item,index) in peoples"><td>{{item.name}}</td><td>{{item.age}}</td><td>{{item.sex}}</td><td><button @click="deletePerson(index)">Delete</button></td></tr>
    </table>
  </div>
  <script>
    var app2 = new Vue({
      el:"#app-2",
      data:{
        newPerson:{
          name:"",
          age:"",
          sex:"Male",
        },
        peoples:[]
      },
      methods:{
        creatPerson:function() {
          
          if(this.newPerson.age<=0 || this.newPerson.age ==""){
            alert("请检查年龄或名字");
            return false;
          }
          this.peoples.push(this.newPerson);
          this.newPerson = {name: '', age: 0, sex: 'Male'}
        },
        deletePerson:function(index) {
          this.peoples.splice(index,1);
        }
      }
    })
  </script>
  <hr>
  <div id="app-3">
    <section>
      <ul class="ilist">
        <li v-for="item in notes">
          <h1>{{item.title}}</h1>
          <p v-text="item.name"></p>
          <p v-text="item.email"></p>
          <p v-text="item.content"></p>
        </li>
        <li class="addNew"><span v-on:click="isActive=true">新增</span></li>
      </ul>
    </section>
    <div>
      <form action="" method="post" class="elegant-aero"  v-bind:class="{ mdshow: isActive }">
      <h1>Contact Form
        <span>Please fill all the texts in the fields.</span>
      </h1>
      <label>
        <span>Your Name :</span>
        <input id="name" type="text" name="name" placeholder="Your Full Name" v-model="newNote.title"/>
      </label>
      <label>
        <span>Your Email :</span>
        <input id="email" type="email" name="email" placeholder="Valid Email Address" v-model="newNote.email"/>
      </label>
      <label>
        <span>Message :</span>
        <textarea id="message" name="message" placeholder="Your Message to Us" v-model="newNote.content"></textarea>
      </label>
      <label>
        <span>Subject :</span>
        <input id="" type="text" name="" placeholder="Your Full Name" v-model="newNote.name"/>
      </label>
      <label>
        <span>&nbsp;</span>
        <input type="button" class="button" value="Send" v-on:click="noteAdd"/>
      </label>
      </form>
    </div>
    <div class="gray" v-bind:class="{ mdshow: isActive }" v-on:click="isActive=false"></div>
  </div>
  <script>
    var app3 = new Vue({
      el:"#app-3",
      data:{
        newNote:{
          title:"",
          name:"",
          email:"",
          content:""
        },
        notes:[],
        isActive:false
      },
      mounted:function(){
        this.$nextTick(function () {
          this.queryData();
        });
      },
      methods:{
        queryData:function () {
          localStorage.messages?this.notes=JSON.parse(localStorage.messages):[];
        },
        noteAdd:function() {
          this.notes.push(this.newNote);
          this.newNote = {title: '', name: '', email: '',content:''};
          localStorage.messages=JSON.stringify(this.notes);
          this.isActive=false;

        }
      }

    });
  </script>


</body>
</html>