<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
  <title>Document</title>
  <link rel="stylesheet" href="base.css">
  <link rel="stylesheet" href="note.css">
  <script src="Vue.js"></script>
  <!-- <script src="jquery.min.js"></script> -->
</head>
<body>
  <div id="app">
    <div class="notes-wrap clearfix">
      <section class="note" v-for="(item,index) in notes">
        <h1>{{item.title}}</h1>
        <p v-text="item.content" class="content"></p>
        <p v-text="item.email"></p>
        <p class="iname"><span>{{item.name}}</span>·{{item.itime}}</p>
        <span class="del-note" v-on:mouseenter="changeFlag(item,true)" v-bind:class="{ on: item.del}" v-on:mouseout="changeFlag(item,false)" v-on:click="delButton(index)">+</span>
      </section>
      <section class="note addNew">
        <p v-on:click="isActive=true" v-html="addName"></p>
      </section>
    </div>
    <div>
      <form action="" method="post" class="elegant-aero"  v-bind:class="{ mdshow: isActive }">
        <h1>Contact Form
          <span>Please fill all the texts in the fields.</span>
        </h1>
        <label>
          <span>Subject :</span>
          <input id="name" type="text" name="name" placeholder="Subject Name" v-model="newNote.title"/>
        </label>
        <label>
          <span>Your Email :</span>
          <input id="email" type="email" name="email" placeholder="Valid Email Address" v-model="newNote.email"/>
        </label>
        <label>
          <span>Message :</span>
          <textarea id="message" name="message" placeholder="Your Message to Us" v-model="newNote.content"></textarea>
        </label>
        <label>
          <span>Your Name :</span>
          <input id="" type="text" name="" placeholder="Your Full Name" v-model="newNote.name"/>
        </label>
        <label>
          <span>&nbsp;</span>
          <input type="button" class="button" value="Send" v-on:click="noteAdd"/>
        </label>
      </form>
    </div>
    <div class="gray" v-bind:class="{ mdshow: isActive }" v-on:click="isActive=false"></div>
    <div class="md-del-warp" v-bind:class="{ mdshow: delMoudle }">
      <div class="md-del-con" v-bind:class="{ mdshow: delMoudle }">
        <h2>确定要删除吗？</h2>
        <p><span class="yes" v-on:click="delNote">是</span><span class="no" v-on:click="delMoudle=false">否</span></p>
      </div>
    </div>
  </div>
  <script src="src/note.js"></script>
</body>
</html>